<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
	<meta charset="utf-8" />
	
</head>
<body>
	<div layout:fragment="content">
		<ol id="breadcrumb" class="breadcrumb">
		</ol>
		
		<div id="mainContent">
			<div id="searchView">
			</div>
			
			<div class="row" id="tableResultView">

			</div>
			<div class="row" id="formView">
		
			</div>
		</div>
		
	</div>
	
<div layout:fragment="pageScript">
	
<script type="text/javascript" src="../../static/pagejs/a01.js"
			th:src="@{/static/pagejs/a01.js}"></script>

<script id="defaultBreadCrumbTemplate" type="text/x-handlebars-template" th:inline="text">
<li><a href="[[@{/}]]"><i class="fa fa-home"></i> Home</a></li>
<li id="rootBreadcrumb" class="active">[[${title}]]</li>
</script>

<script id="newFormBreadCrumbTemplate" type="text/x-handlebars-template" th:inline="text">
<li><a href="#" th:href="@{/}"><i class="fa fa-home"></i> Home</a></li>
<li id="rootBreadcrumb"><a href="#">[[${title}]]</a></li>
<li class="active">สร้าง[[${typeTxt}]]ใหม่</li>
</script>

<script id="editFormBreadCrumbTemplate" type="text/x-handlebars-template" th:inline="text">
<li><a href="#" th:href="@{/}"><i class="fa fa-home"></i> Home</a></li>
<li id="rootBreadcrumb"><a href="#">[[${title}]]</a></li>
<li class="active">แก้ไข[[${typeTxt}]](#{{userId}})</li>
</script>			

<script  id="formViewTemplate" type="text/x-handlebars-template">
<div class="col-md-12">
	<form class="form-horizontal" role="form">
	<div class="panel panel-default">
		<div class="panel-heading">
			<b><i class="fa fa-pencil-square-o"></i> กรุณาระบุข้อมูลด้านล่างให้ครบถ้วน</b>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					{{txtInput "full" "userName" "username" model.username "readwrite" "required"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtInput "full" "password" "password" model.password "readwrite" "required"}}
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<button id="backBtn" type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i> กลับหน้าเดิม</button>
			<button id="saveFormBtn" type="button" class="btn btn-default"><i class="fa fa-floppy-o"></i> บันทึกข้อมูล</button>
			<button id="clearFormBtn" type="button" class="btn btn-default"><i class="fa fa-times-circle"></i> ล้างข้อมูล</button>
		</div>
	</div>
	</form>
</div>
</script>

<script  id="searchViewTemplate" type="text/x-handlebars-template"  th:inline="text">
<div class="panel panel-primary">
<div class="panel-heading">
 			<h4 class="panel-title">ค้นหา[[${typeTxt}]]</h4>
		</div>
		<div class="panel-body">
	<form class="form-horizontal" role="form" id="searchForm">
		
		<div class="row">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
				    	<label for="inputEmail3" class="col-sm-2 control-label">username</label>
				    	<div class="col-sm-9">
				     	 <input type="text" class="form-control formTxt" id="username" 
								placeholder="ระบุชื่อ user..." data-field="username" value="{{searchModel.username}}"/>
				    	</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="text-align: center;">
					<button type="button" class="btn btn-default" id="newFormBtn">
						<i class="fa fa-plus"></i> เพิ่มข้อมูล[[${typeTxt}]]</button>
					<button type="button" class="btn btn-default" id="searchBtn">
						<span class="glyphicon glyphicon-search"></span> ค้นหา</button>
					<button type="button" class="btn btn-default" id="clearFormBtn">
						<i class="fa fa-times-circle"></i> ล้างข้อมูลค้นหา</button>
				</div>
			</div>
		</form>
	</div>
</div>
</script>

<script id="tableResultViewTemplate" type="text/x-handlebars-template" th:inline="text">
<div class="panel panel-default">
	<div class="panel-body">
		<b>ผลการค้นหา</b>
	</div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<td style="width: 80px;text-align:center;"></td>
				<td style="text-align:center;" class=""><b>username</td>
				
			</tr>
		</thead>
		<tbody>
			{{#each content}}
			<tr data-id="{{id}}">
				<td> <button type="button" class="btn btn-danger btn-xs removeBtn"><i class="fa fa-trash"> </i></button> 
					 <button type="button" class="btn btn-info btn-xs editBtn"><i class="fa fa-edit"> </i></button>
				</td>
				<td>{{username}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<form class="form-inline">
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-6">
				1-15 จาก {{page.totalElements}} รายการ  
			</div>
			<div class="col-md-6" style="text-align: right;">
				{{#unless page.first}}<button class="btn btn-default btn-sm btnPageNav" data-targetPage="{{page.prevPage}}" type="button"><i class="fa fa-chevron-left"></i></button>{{/unless}}
				หน้าที่ <input class="form-control input-sm" size="2" type="text" id="pageNavTxt" data-value="{{page.pageNumber}}" value="{{page.pageNumber}}"></input> จาก {{page.totalPages}} หน้า
				{{#unless page.last}}<button class="btn btn-default btn-sm btnPageNav" data-targetPage="{{page.nextPage}}" type="button"><i class="fa fa-chevron-right"></i></button>{{/unless}}
			</div>
		</div>
	</div>
	</form>
</div>
</script>


<script type="text/javascript" th:inline="javascript">
//<!--

var appRouter;

$( document ).ready(function() {
	
	//initialize things
	
	
	searchView = new SearchView({
		el: "#searchView"
	});
	
	tableResultView = new TableResultView({
		el: "#tableResultView"
	});
	
	formView = new FormView({
		el: "#formView"
	})
	
	
	
	appRouter = new AppRouter({
		searchView: searchView,
		tableResultView: tableResultView,
		formView: formView
	});
	Backbone.history.start();

	
	
});


//-->
</script>			
</div>	
</body>
</html>